*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
html,
main,
.home-content {
  height: 100%;
}
html {
  background-color: #fff;
}
body {
  background-color: #EEEEEE;
  margin: 0 auto;
  max-width: 1200px;
}
/* GENERAL SECTION SPACING */
.intro-content,
.skills-content,
.projects-content,
.contact-content {
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
  background-color: #cccccc;
  border-top: 0.5rem solid #676767;
  color: #eeeeee;
}
/* NAV ITEMS */
.nav-bar {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.nav-container li {
  list-style: none;
}
.nav-container a {
  color: white;
  text-decoration: none;
  background-color: rgba(20, 20, 20, 0.1);
  padding: 0.5rem;
  font-family: "Shanti", sans-serif;

  /* BORDER */
  border-radius: 0.1rem;
  border-top: 3px solid #C7C7C7;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1)
}
.nav-container a:hover {
  background-color: rgba(20 ,20 ,20, 0.5);
  box-shadow: 0px 7px 7px rgba(20, 20, 20, 0.2)
}
/* HOME ITEMS */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.home-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  /* Background */
  background-image: url(pictures/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Border */
  border-bottom: 0.8rem solid #595959;
}
.home-heading {
  color: #eeeeee;
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
  text-shadow: 0rem 0rem 0.2rem black;
  font-family: "Roboto", sans-serif;
}
.home-subheading {
  text-align: center;
  color: #eeeeee;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 0rem 0rem 0.1rem black;
  font-weight: 100;
  border-top: thin solid #eeeeee;
  width: 70%;
  font-family: "Palanquin", sans-serif;
}
.home-organization {
  display: flex;
  flex-direction: row;
}
.home-info {
  color: #ffffff;
  background-color: #eeeeee;
  font-family: "Shanti", sans-serif;
  padding: 2rem 2rem 2rem 2rem;
  width: 80%;
  /* Background */
  background-color: #d8d8d8;
  border-top: 0.5rem solid #676767;
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
}
.home-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-pic {
  display: none;
}
/* INTRO CONTENT */
.intro-content p {
  font-size: 1rem;
}
.intro-header {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  margin-top: 0;
}
.bio-pictures {
  display: flex;
  width: 100%;
}
.first-pic {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.last-pic {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.bio-pictures div {
  width: 50%;
}
.bio-pics {
  border-top: 0.2rem solid #676767;
  border-radius: 1px;
  max-width: 70%;
}
.readable-content {
  font-family: "Shanti", sans-serif;
}
/* SKILLS CONTENT */
.skills-content {
  border-top: 0.5rem solid #676767;
  color: #eeeeee;
  margin-top: 2rem;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #cccccc;
}
.skills-header {
  font-family: "Roboto", sans-serif;
}
.image-list {
  background-color: #b3b3b3;
  border-top: 0.2rem solid #676767;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.image-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 50%;
}
.skill-logo {
  width: 100%;
  max-width: 200px;
}

/* PROJECTS CONTENT */
.project-description {
  border-top: 0.1rem solid #676767;
  background-color: #b3b3b3;
  padding: 0.5rem;
}
.project-description h3 {
  margin-top: 0;
}
.project-description p a {
  color: #a9571b;
}
.responsive-layout {
  margin-top: 1rem;
}
.projects-header {
  font-family: "Roboto", sans-serif;
}
.sub-heading {
  font-family: "Palanquin", sans-serif;
}
/* CONTACT CONTENT */
.contact-header {
  font-family: "Roboto", sans-serif;
}
/** MEDIUM STYLES **/
@media only screen and (min-width: 600px) {
  .home-organization {
    width: 100%;
    height: 50%;
  }
  .home-nav {
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .nav-bar {
    border-bottom: none;
  }
  .nav-container {
    margin-top: 2rem;
  }
  .nav-container a {
    padding: 2rem;
    font-size: 1.3rem;
  }
  .intro-header,
  .skills-header,
  .projects-header,
  .contact-header {
    font-size: 3rem;
  }
  .readable-content {
    font-size: 1.5rem;
  }
  .sub-heading {
    font-size: 2rem;
  }
}

/** LARGE STYLES **/
@media only screen and (min-width: 950px) {
  .home-pic {
    display: block;
    height: 50%;
    position: relative;
    margin-left: 1rem;
    border: .5rem solid #676767;
    border-radius: 50%;
  }
  .home-organization {
    align-items: center;
  }
  .home-heading {
    font-size: 5rem;
  }
}
