*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
body,
html,
main,
.home-content {
  height: 100%;
}
body {
  background-color: #EEEEEE;
  margin: 0px;
}
/* NAV ITEMS */
.nav-bar {
  width: 70%;
  border-top: thin solid #eeeeee;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
}
.nav-container li {
  list-style: none;
}
.nav-container a {
  color: white;
  text-decoration: none;
  background-color: rgba(20, 20, 20, 0.1);
  padding: 0.5rem;

  /* BORDER */
  border-radius: 0.1rem;
  border-top: 3px solid #eeeeee;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1)
}
.nav-container a:hover {
  background-color: rgba(20 ,20 ,20, 0.5);
}
/* HOME ITEMS */
.home-content {
  padding: 1rem;
  margin-left: 0.5em;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Background */
  background-image: url(pictures/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-heading {
  font-weight: 600;
  font-size: 2rem;
  color: #eeeeee;
}
.home-info {
  color: black;
  margin-top: auto;
  background-color: #eeeeee;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: 100%;
}
.home-pic {
  display: none;
}
/* INTRO CONTENT */
.intro-content {
  height: 50%;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #cccccc;
}
/* SKILLS CONTENT */
.skills-content {
  height: 50%;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #d6d6d6;
}
/* PROJECTS CONTENT */
/* CONTACT CONTENT */
