* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body, html {
  height: 100%;
  background-color: #181a1b;
}
.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background */
  background-image: url(../pictures/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-heading {
  color: white;
  font-weight: 600;
  font-size: 100px;
  font-family: 'Teko', sans-serif;
  position: relative;
  top: -60px;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}
.nav-container li {
  list-style: none;
}
.nav-container li a {
  color: white;
  text-decoration: none;

  /* button look */
  background-color: rgba(232, 209, 204, 0.25);
  border: thin solid darkgray;
  border-radius: 2px;
  padding: 10px;
}
.nav-container li a:hover {
  background-color: rgba(214, 193, 188, 0.50);
}
.nav-bar {
  width: 30%;
  padding: 10px;
}
